#Ads{
float: left;
margin-top: -468px;
margin-left: 164px;
}

#nav{
float: left;
margin-top: -468px;
margin-left: 1015px;
}

#fb{
margin-left: 330px;
margin-top: -90px;
}

#twit{
margin-left: 485px;
margin-top: -35px;
}

#cfd{
margin-top: -550px;
margin-left: 490px;
}

#home{
margin-left: 1050px;
margin-top: 55px;
}

#games{
margin-left: 1050px;
margin-top: 30px;
}

#products{
margin-left: 1000px;
margin-top: 30px;
}

#CAF{
margin-left: 280px;
margin-top: 79px;
}